<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoU1pomamIq5Ivej-akHL6I_T-JIkgh60</string>
	<key>GCM_SENDER_ID</key>
	<string>856688987621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.CarmaTecTask.com.CarmatecTask</string>
	<key>PROJECT_ID</key>
	<string>mapbox-26d1c</string>
	<key>STORAGE_BUCKET</key>
	<string>mapbox-26d1c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856688987621:ios:569747fb0e0b99fe5ab30c</string>
	<key>DATABASE_URL</key>
	<string>https://mapbox-26d1c-default-rtdb.firebaseio.com</string>
</dict>
</plist>